<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Judul Halaman -->
	<title>Orbit Future Academy</title>
	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<!-- Icon -->
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
	
	<!-- CSS -->
	<link rel="stylesheet" href={{ url_for('static', filename='/css/bootstrap.min.css') }} type="text/css">
	<link rel="stylesheet" href={{ url_for('static', filename='/css/client_side.css') }}  type="text/css">
	
	<!-- JavaScript -->
	<script src={{ url_for('static', filename='/js/jquery_3.6.0.min.js') }} ></script>
	<script src={{ url_for('static', filename='/js/bootstrap_3.4.1.min.js') }} ></script>
</head>

<body id="halamanku" data-spy="scroll" data-target=".navbar" data-offset="60">

	<!-- Navigation Bar -->
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			
			<!-- Logo -->
			<div class="navbar-header">
				<img src={{ url_for('static', filename='/images/Logo.PNG') }} alt="Orbit Logo" 
				width="50" height="50" align="left">
				<a class="navbar-brand" href="#halamanku">&#160; VISIONER 2</a>
			</div>
			
			<!-- Daftar Halaman -->
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#informasi">INFORMASI</a></li>
					<li><a href="#aplikasi">APLIKASI</a></li>
					<li><a href="#anggotaKelompok">ANGGOTA KELOMPOK</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<!-- Bagian Halaman (Informasi) -->
	<div id="informasi" class="container-fluid">
		<br>
		<br>
		<br>
		<div class="row">
			<div class="col-sm-6">
				<!-- Deskripsi Aplikasi -->
				<h2>DIAPRED</h2>
				<p style="text-align: justify;text-justify: inter-word;">
					Aplikasi ini dibuat untuk menentukan spesies dari bunga iris berdasarkan pengukuran panjang serta lebar 
					dari <i>sepal</i> dan <i>petal</i> bunga. "Iris Setosa", "Iris Versicolor", dan "Iris Virginica" 
					adalah ketiga species bunga iris yang dapat diprediksi melalui aplikasi ini.
					Pengguna hanya cukup memberikan 4 nilai pengukuran untuk dapat mengetahui spesies dari bunga iris tersebut.
					Keempat nilai pengukuran tersebut adalah panjang <i>petal</i>, lebar <i>petal</i>, panjang <i>sepal</i>,
					dan lebar <i>sepal</i>.
				</p>
				<br>

				<!-- Tombol Mulai -->
				<nav id="navgo" class="navbar" style="background-color:#ffffff;z-index: 0;">
					<ul class="nav nav-pills">
						<li class="nav-item">
							<a class="btn btn-default btn-lg" href="#aplikasi" style="background-color:#81520c">Mulai</a>
						</li>
					</ul>
				</nav>
			</div>
			
			<div class="col-sm-6">
				<br>
				<br>
				<!-- Gambar Deskripsi Aplikasi -->
				<img src={{ url_for('static', filename='/images/DiabetesDS.JPG') }} width="500" ></img>
			</div>
		</div>
		<br>
	</div>
	

	<!-- Bagian Halaman (Aplikasi) -->
	<div id="aplikasi" data-bs-spy="scroll" data-bs-target="#navgo" data-bs-offset="0" class="scrollspy-example" tabindex="0">
		<br>
		<br>
		<div class="row">
			<div class="col-sm-6">
				</br>
				<!-- Input Nilai Pengukuran dari Pengguna -->
				<h3 style="margin-left: 50px;">Nilai Pengukuran </h3>
				<form>
					<div class="form-group" style="margin-left: 50px;">
						<!-- Input Slider untuk Nilai Pengukuran Bunga Iris -->
						<label for="range_Preg_nancies">Pregnancies</label>&nbsp;&rarr;&nbsp;
						<span id="rangeVal_Preg_nancies">0<!-- Default value --></span>
						<input type="range" min="0" max="17" step="1" value="0" class="slider" id="range_Preg_nancies" 
						onInput="$('#rangeVal_Preg_nancies').html($(this).val())">
						</br>
						<label for="range_Glu_cose">Glucose</label>&nbsp;&rarr;&nbsp;
						<span id="rangeVal_Glu_cose">0<!-- Default value --></span>
						<input type="range" min="0" max="199" step="1" value="0" class="slider" id="range_Glu_cose" 
						onInput="$('#rangeVal_Glu_cose').html($(this).val())">
						</br>
						<label for="range_Blood_Pressure">BloodPressure</label>&nbsp;&rarr;&nbsp;
						<span id="rangeVal_Blood_Pressure">0<!-- Default value --></span>
						<input type="range" min="0" max="122" step="1" value="0" class="slider" id="range_Blood_Pressure" 
						onInput="$('#rangeVal_Blood_Pressure').html($(this).val())">
						</br>
						<label for="range_Skin_Thickness">SkinThickness</label>&nbsp;&rarr;&nbsp;
						<span id="rangeVal_Skin_Thickness">0<!-- Default value --></span>
						<input type="range" min="0" max="99" step="1" value="0" class="slider" id="range_Skin_Thickness" 
						onInput="$('#rangeVal_Skin_Thickness').html($(this).val())">
						</br>
						<label for="range_In_sulin">Insulin</label>&nbsp;&rarr;&nbsp;
						<span id="rangeVal_In_sulin">0<!-- Default value --></span>
						<input type="range" min="0" max="846" step="1" value="0" class="slider" id="range_In_sulin" 
						onInput="$('#rangeVal_In_sulin').html($(this).val())">
						</br>
						<label for="range_B_MI">BMI</label>&nbsp;&rarr;&nbsp;
						<span id="rangeVal_B_MI">0<!-- Default value --></span>
						<input type="range" min="0" max="67.1" step="0.1" value="0" class="slider" id="range_B_MI" 
						onInput="$('#rangeVal_B_MI').html($(this).val())">
						</br>
						<label for="range_Diabetes_PedigreeFunction">DiabetesPedigreeFunction</label>&nbsp;&rarr;&nbsp;
						<span id="rangeVal_Diabetes_PedigreeFunction">0.08<!-- Default value --></span>
						<input type="range" min="0.08" max="2.42" step="0.01" value="0.08" class="slider" id="range_Diabetes_PedigreeFunction" 
						onInput="$('#rangeVal_Diabetes_PedigreeFunction').html($(this).val())">
						</br>
						<label for="range_A_ge">Age</label>&nbsp;&rarr;&nbsp;
						<span id="rangeVal_A_ge">21<!-- Default value --></span>
						<input type="range" min="21" max="81" step="1" value="21" class="slider" id="range_A_ge" 
						onInput="$('#rangeVal_A_ge').html($(this).val())">
						</br>
						<!-- Tombol Prediksi -->
						<button type="submit" id="prediksi_submit" class="btn btn-default btn-lg" style="background-color:#1cc03d">Prediksi</button>
					</div>
				</form>
			</div>
			<div class="col-sm-6">
				<br>
				<!-- Bagian Halaman untuk Hasil Prediksi -->
				<div id="hasil_prediksi" align="center">
						<!-- Hasil Prediksi akan ditampilkan di sini-->
				</div>
			</div>
		</div>
		<br>
		<br>
	</div>

	<!-- Bagian Halaman (Anggota Kelompok) -->
	<div id="anggotaKelompok" class="container-fluid text-center">
		<br>
		<h2>ANGGOTA KELOMPOK</h2>
		<h4>Tim Deployment dan Tim DS</h4>
		<br>
		<div class="row slideanim">
			<div class="row slideanim">
				<div class="col-sm-6">
					<span><img src={{ url_for('static', filename='/images/Satrio.PNG') }} width="150" ></img></span>
					<h3>Muhammad Satrio Ayuba</h3>
					<p><a href="https://www.instagram.com/satrioayb/?hl=id"><img src={{ url_for('static', filename='/images/instagram.PNG') }} width="50" ></img></a></p>
					<h5>Visioner 2</h5>
					<p>Universitas Sari Mulia</p>
				</div>
				<div class="col-sm-6">
					<span><img src={{ url_for('static', filename='/images/Satrio.PNG') }} width="150" ></img></span>
					<h3>Syf. Sakinah</h3>
					<p><a href="https://www.instagram.com/satrioayb/?hl=id"><img src={{ url_for('static', filename='/images/instagram.PNG') }} width="50" ></img></a></p>
					<h5>Visioner 2</h5>
					<p>Universitas Sari Mulia</p>
				</div>
			</div>
		
		<div class="col-sm-6">
			<span><img src={{ url_for('static', filename='/images/Satrio.PNG') }} width="150" ></img></span>
			<h3>Rizkian Muhammad Fikri</h3>
			<p><a href="https://www.instagram.com/rizkynmfikri/?hl=id"><img src={{ url_for('static', filename='/images/instagram.PNG') }} width="50" ></img></a></p>
			<h5>Visioner</h5>
			<p>Universitas Sari Mulia</p>
		</div>
	</div>
	    <br>
	    <div class="row slideanim">
			<div class="col-sm-6">
				<span><img src={{ url_for('static', filename='/images/hafiz.jpeg') }} width="150" ></img></span>
				<h3>Nur Hafiz Anshari</h3>
				<p><a href="https://www.instagram.com/nrhfzashri/?hl=id"><img src={{ url_for('static', filename='/images/instagram.PNG') }} width="50" ></img></a></p>
				<h5>Visioner</h5>
				<p>Universitas Sari Mulia</p>
			</div>
			<div class="col-sm-6">
				<span><img src={{ url_for('static', filename='/images/Satrio.PNG') }} width="150" ></img></span>
				<h3>Muhammad Satrio Ayuba</h3>
				<p><a href="https://www.instagram.com/satrioayb/?hl=id"><img src={{ url_for('static', filename='/images/instagram.PNG') }} width="50" ></img></a></p>
				<h5>Visioner</h5>
				<p>Universitas Sari Mulia</p>
			</div>
	    </div>
	</div>
	

	<!-- Footer -->
	<footer class="container-fluid text-center">
		<a href="#halamanku" title="To Top">
			<span class="glyphicon glyphicon-chevron-up"></span>
		</a>
		<p>Orbit Future Academy <br> <a href="https://orbitfutureacademy.id/">orbitfutureacademy.id</a></p>
	</footer>

	<!-- JavaScript untuk Animasi Scroll dan Prediksi Model -->
	<script  src={{ url_for('static', filename='/js/client_side.js') }}></script>

</body>
</html>
